<h1>Collections show page</h1>

<div>
	<button><%= link_to "Edit Collection", edit_user_collection_path(@collection) %></button>

	<button><%= link_to "Delete Collection", user_collection_path(@collection), method: "DELETE" %></button>	

</div>

<div class="add-resource-to-collection-box">
	<p>Add A Resource to Your Collection</p>

	<%= form_for @collection_resource, as: :collection_resource, url: user_collection_resources_path, html: {id: "collection-resource-form" } do |f| %>
		<div>
			<%= f.label "Select a Favorite"%>
			<%= f.select :resource_id, options_from_collection_for_select(current_user.favorited_resources, "id", "title")%>
		</div>
			<%= f.hidden_field :collection_id, value: @collection.id %>
	  		<%= f.submit "Add to Collection" %>
		</div>
	<% end %>
</div>

<div>
	<p>List of Favorites within this collection</p>
	<% @resources.each do |resource| %>
		<div class="list-of-resources">
			<li><%= link_to resource.title, resource_path(resource) %></li>
			<li class="rating"><%=resource.average_rating %> </li>
			<li><%= resource.description %></li>
			<button><%= link_to "Remove", user_collection_resource_path(resource_id: resource.id, collection_id: @collection.id), method: "DELETE" %></button>	
		</div>
	<% end %>
</div>