<div class="jumbotron">
    <!-- <h1>Your Activist Resource Directory</h1>   -->
    <!-- <img src="yardheaderlogo1.png" alt="header-logo"> -->
    <h1 id="heading">Your Activist Resource Directory</h1>
</div>


<!-- SLIDES -->
<div>
  <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
      <li data-target="#carousel-example-generic" data-slide-to="1"></li>
      <li data-target="#carousel-example-generic" data-slide-to="2"></li>
      <li data-target="#carousel-example-generic" data-slide-to="3"></li>
      <li data-target="#carousel-example-generic" data-slide-to="4"></li>
      <li data-target="#carousel-example-generic" data-slide-to="5"></li>
      <li data-target="#carousel-example-generic" data-slide-to="6"></li>
      <li data-target="#carousel-example-generic" data-slide-to="7"></li>
      <li data-target="#carousel-example-generic" data-slide-to="8"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
      <div class="item">
        <%= image_tag("slide-0.jpg", alt: "slide-image-0") %>
      </div>
      <div class="item active">
        <%= image_tag("slide-1.jpg", alt: "slide-image-1") %>
      </div>
      <div class="item">
        <%= image_tag("slide-2.jpg", alt: "slide-image-2") %>
      </div>
      <div class="item">
        <%= image_tag("slide-3.jpg", alt: "slide-image-3") %>
      </div>
      <div class="item">
        <%= image_tag("slide-4.jpg", alt: "slide-image-4") %>
      </div>
      <div class="item">
        <%= image_tag("slide-5.jpg", alt: "slide-image-5") %>
      </div>
      <div class="item">
        <%= image_tag("slide-6.jpg", alt: "slide-image-6") %>
      </div>
      <div class="item">
        <%= image_tag("slide-7.jpg", alt: "slide-image-7") %>
      </div>
      <div class="item">
        <%= image_tag("slide-8.jpg", alt: "slide-image-8") %>
      </div>
    </div>

    <!-- Controls -->
    <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>


<div id="home-intro">
  <div id="cat-index-info">
    <b><p class="cat-info-text">Yard is an online platform for activists and social justice organizations to store and share free online resources by creating personal libraries.</p></b>
    <p class="cat-info-text">Users regulate the content through reviews.</p>
    <p class="cat-info-text">All libraries are available to the public.</p>
    <p class="cat-info-text">Upon creating an account you will be able to:</p>
    <ol>
      <li class="info-list">Create a resource</li>
      <li class="info-list">Favorite a resource</li>
      <li class="info-list">Organize your favorite resources into collections that you can share with others</li>
    </ol>
    <p class="cat-info-text">For more information visit:
      <span><a class="organeyez-links" href="http://www.organeyez.co" target="_blank">organeyez.co</a></span> or email:
      <span><a class="organeyez-links" href="mailto:yard@organeyez.co?Subject=Inquiry" target="_top">yard@organeyez.co</span>
    </p>
  </div>
</div>
