<div class="container resource-show">
	<h3><%= @resource.title %></h3>

	<% if user_signed_in? %>
		<% if @resource.fans.include?(current_user) %>
		<%= link_to user_favorite_path(resource_id: @resource.id, user_id: current_user), method: "DELETE" do %>
			  <i><%= image_tag("red-heart.png", class: "fav-btn")%></i>
			<% end %>
		<% else %>
			<%= link_to user_favorites_path(resource_id: @resource.id, user_id: current_user), method: "POST" do %>
			  <i><%= image_tag("empty-heart.png", class: "fav-btn")%></i>
			<% end %>
		<% end %>
	<% end %>
	<p>Description: <%= @resource.description %>
	<span><%= link_to "Link to Resource", "#{@resource.url}", target: "_blank" %></span></p>
	<p>Category: <%= link_to "#{@resource.category.title}", category_path(@resource.category) %></p>
	<p>Author: <%= link_to "#{@resource.author.username}", user_path(@resource.author) %></p>

	<p>Total Fans: <%= @resource.total_fans %></p>
	<p><%= @resource.average_rating %> </p>


	<% if @resource.author == current_user %>
		<div class="tag-box">
			<% @resource.tags.each do |tag| %>
				<span class="single-tag-box"><%= link_to "x ", resource_tag_path(tag, resource_id: @resource.id), method: "DELETE" %><%= tag.name %></span>
			<% end %>
		</div>
	<% else%>
		<div class="tag-box">
			<% @resource.tags.each do |tag| %>
				<span class="single-tag-box"><%= tag.name %></span>
			<% end %>
		</div>
	<% end %>


	<% if @resource.author == current_user %>
	<div class="user-edit-res-box">
		<div class="add-tags-box">
			<p>Add Tags to Your Resource (10 max)</p>

			<%= form_for @tag, as: :tag, url: tags_path, html: {id: "tag_form" } do |f| %>
				<div>
					<%= f.label "Tag Name" %>
					<%= f.text_field :name %>
					<%= f.hidden_field :resource_id, value: @resource.id %>
			  		<%= f.submit "Add" %>
				</div>
			<% end %>
			<button class="edit-btn"><%= link_to "Edit Resource", edit_resource_path(@resource) %></button>
			<button class="delete-btn"><%= link_to "Delete Resource", resource_path(@resource), method: "DELETE" %></button>	
		</div>

		<div class="edit-res-btns">

		</div>

	<% end %>	
	</div>	

	<div class="review-box">
		<h3 class="review-header">Reviews</h3>
		<% if user_signed_in? %>	
			<% if !@resource.reviewers.include?(current_user) %>
				<div>
					<p>Leave a Review</p>
					<%= form_for @review, as: :review, url: reviews_path, html: {class: "review_form"} do |f| %>
						<div>
							<%= f.hidden_field :author_id, value: current_user.id %>
							<%= f.hidden_field :resource_id, value: @resource.id %>
						</div>
						<div>
							<%= f.label "Does the resource provide supporting evidence?" %>
							<%= f.select :evidence_rating, [1, 2, 3, 4, 5] %>
						</div>
						<div>
							<%= f.label "How useful was this resource?" %>
							<%= f.select :useful_rating, [1, 2, 3, 4, 5] %>
						</div>
						<div>
							<%= f.label "How detailed is this resource?" %>
							<%= f.select :detail_rating, [1, 2, 3, 4, 5] %>
						</div>
						<div>
							<%= f.label "Would you recommend this resource to others?" %>
							<%= f.select :recommend_rating, [1, 2, 3, 4, 5] %>
						</div>
						<div>
							<%= f.label "Message" %><br/>
							<%= f.text_area :message, size: "60x12" %>
						</div>

					  	<%= f.submit "Submit Review" %>
					<% end %> 
				</div>
			<% end %>
		<% end %>
	
		<div>
			<% @resource.reviews.each do |review| %>
			<div class="container">
			  <div class="row single-review-box">
			    <div class="col-8">
					<li><strong>Supporting Evidence: </strong><%= review.evidence_rating %></li>
					<li><strong>Usefulness: </strong><%= review.useful_rating %></li>
					<li><strong>Strong: </strong> <%= review.detail_rating %></li>
					<li><strong>Recommendable: </strong> <%= review.recommend_rating %></li>
					<li><strong>Message:</strong> <%= review.message %></li>
					<li><strong>Reviewed by: </strong> <%= review.author.username %></li>
					<% if review.author == current_user %>
						<%= link_to "Edit", edit_review_path(review), remote: true %>
						<%= link_to "Delete", review_path(review), method: "DELETE" %>
					<% end %>				    	
			    </div>
			    <div class="col-4">
			    	<p class="total-rating-title">Total Rating: </p>
			    	<p class="total-rating-number"><%= review.rating_average %></p>
			    </div>
			  </div>
			</div>
			<% end %>
		</div>
	</div>


</div>
