<!DOCTYPE html>
<html>
  <head>
    <title>ActivistResourceDirectory</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag   'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <ul>
      <li><%= link_to "All Resources", categories_path %></li>
      <% if user_signed_in? %>
        <p>Hello <%= current_user.username %></p>
        <li><%= link_to "Homepage", user_path(current_user) %></li>
        <li><%= link_to "Create a Resource", new_resource_path %></li>
        <li><%= link_to "Settings", edit_user_registration_path %></li>
        <li><%= link_to "Logout", destroy_user_session_path, method: :delete%></li>
      <% else %>
        <li><%= link_to "Sign Up", new_user_registration_path %></li>
        <li><%= link_to "Login", new_user_session_path %></li>
      <% end %>
    </ul>


    <%= render "layouts/errors" %>
    
  	<p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
  </body>
</html>
