<!DOCTYPE html>
<html>
  <head>
    <title>ActivistResourceDirectory</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <ul>
      <li><%= link_to "All Resources", categories_path %></li>
      <li><%= link_to "Create a Resource", new_resource_path %></li>
    </ul>

  	<p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
  </body>
</html>
