<!DOCTYPE html>
<html>
  <head>
    <title>ActivistResourceDirectory</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag   'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <nav class="navbar">
      <ul class="nav">
          <%= link_to "YARD", categories_path, class: "navbar-brand logo" %>
        <% if user_signed_in? %>
          <li class="nav-item"><%= link_to "Homepage", user_path(current_user), class: "nav-link active" %></li>
          <li class="nav-item"><%= link_to "Create a Resource", new_resource_path, class: "nav-link active" %></li>
          <li class="nav-item"><%= link_to "Settings", edit_user_registration_path, class: "nav-link active" %></li>
          <li class="nav-item"><%= link_to "Logout", destroy_user_session_path, method: :delete, class: "nav-link active" %></li>
          </li>
        <% else %>
          <li class="nav-item"><%= link_to "Sign Up", new_user_registration_path, class: "nav-link active" %></li>
          <li class="nav-item"><%= link_to "Login", new_user_session_path, class: "nav-link active" %></li>        
        <% end %>
      </ul>
      <%= form_tag(resources_path, method: :get, class: "form-inline my-2 my-lg-0") do %>
        <%= text_field_tag :search, params[:search], placeholder: "Keyword", class: "form-control mr-sm-2" %>
        <%= submit_tag 'Search', class: "btn btn-outline my-2 my-sm-0" %>
      <% end %>
    </nav>

    <p class="notice">This website is still under construction. To see examples of resources visit the "civil rights and discrimination" category. You may use the search bar for a simple keyword search, but a more complex search bar will soon be implemented.</p>

    <%= render "layouts/errors" %>
    <div class="notices">
    	<p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>      
    </div>
  
 <% if user_signed_in? %>
    <header>
      <ul class="nav nav-tabs" role="tablist">
        <li class="nav-item"><%= link_to "My Created Resources", user_path(current_user), class: "nav-link active" %></li>
        <li class="nav-item"><%= link_to "My Collections", user_collections_path(current_user), class: "nav-link active" %></li>
        <li class="nav-item"><%= link_to "My Favorites", user_favorites_path(current_user), class: "nav-link active" %></li>
      </ul>
    </header>
<% end %>
    <%= yield %>
  </body>
</html>
